@model AgentsClient.ViewModel.GeneralInformationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>GeneralInformationVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllActiveAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllActiveAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllEliminatedTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllEliminatedTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllAssignedMissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllAssignedMissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationOfAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationOfAgentsToTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatioOfAgentsThatCanBeTeamedToTargetsAgainstTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatioOfAgentsThatCanBeTeamedToTargetsAgainstTargets)
        </dd>
    </dl>
</div>