@model IEnumerable<AgentsClient.ViewModel.AgentVM>

@{
    ViewData["Title"] = "Agents";
}

<h1>Agents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountamountEliminations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img src="@item.Image" alt="Agent image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountamountEliminations)
            </td>
            <td>
                    @Html.ActionLink("Mission", "Mission", new { agentId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
